{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}
    User List
{% endblock %}
{% block pageHeader %}
  {{ super() }}
{% endblock %}
{% block body %}
<div>
  <div>
    <h1>User List</h1>
    <ul>
      {% for user in users %}
        <user-info name="{{user.username}}" email="{{user.email}}"></user-info>
      {% endfor %}
    </ul>
    <div>
      <a href="{{ url_for('add_user') }}">Add a new user</a>
      <a href="{{ url_for('find_user') }}">Find a user</a>  
    </div>
    
  </div>
</div>
{% endblock %}