{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}
    User List
{% endblock %}
{% block pageHeader %}
  {{ super() }}
  <h1>User List</h1>
  <div></div>
{% endblock %}
{% block body %}
<div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 p-6">
    
      {% for user in users %}
        <user-info 
          name="{{user.username}}" 
          email="{{user.email}}" 
          title="{{user.title}}" 
          bio="{{user.bio}}"
          avatar="{{user.avatar}}"
          ></user-info>
      {% endfor %}

    <div>

      <a href="{{ url_for('add_user') }}">Add a new user</a>
      <a href="{{ url_for('find_user') }}">Find a user</a>  
    </div>
    
  </div>
</div>
{% endblock %}